.App {
  height: 100vh;
  /* display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 40% 50% 10%;
  grid-template-areas:
    'header header header'
    'left-panel center right-panel'
    'left-panel footer right-panel'; */
  text-align: center;
}

body {
  margin: 5px;
  padding: 0;
  /* background-image: url('https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?cs=srgb&dl=bright-design-floor-235994.jpg&fm=jpg?dl&fit=crop&crop=entropy&w=640&h=400, https://www.pexels.com/photo/board-bright-design-fabric-235994/'); */
}
.topHeader {
  background-color: white;
}
.App > header {
  /* grid-area: header; */
  text-align: center;
}
.App > h2 {
  /* grid-area: center; */
}

.loginnavbar {
  /* grid-area: header; */
  width: 32%;
  float: center;

  border: 1px solid black;
  background-color: #f44336;
}
nav {
  /* grid-area: header; */
  border: 1px solid black;
  background-color: #f44336;
}

.link {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.article-link {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.commentslist {
  /* grid-area: right-panel; */
  background-color: beige;
  overflow: scroll;
}
.articlepage {
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  /* overflow-y: scroll; */
  overflow: scroll;
}
.login {
  text-align: left;
  /* grid-area: header; */
}
/* .login > input {
  width: 25%;
  border: 2px solid red;
  border-radius: 4px;
} */
.loginlink {
  /* grid-area: header; */
  background-color: #f44336;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
input[type='text'] {
  border: 2px solid red;
  border-radius: 4px;
  float: center;
  padding: 8px 20px;
  margin: 5px 0;
  background-color: lightgray;
  color: black;
}
.register {
  width: 50%;
  align-content: center;
  margin: auto;
  grid-area: center;
}
.register > input[type='text'] {
  width: 100%;
  margin: auto;
}
.articlebody {
  /* grid-area: center; */
  height: 60px;
  line-height: 20px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.greeting {
  text-align: left;
}
ul {
  list-style-type: none;
}
textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
}
button {
  border: 1px solid black;
}
.error {
  font-size: 15px;
  color: red;
}
.article {
  border: 1px solid black;
}
