.App {
  height: 100vh;
  text-align: center;
  margin: 20px;
}

body {
  margin: 5px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.topHeader {
  background-color: white;
}
.App > header {
  text-align: center;
}

nav {
  background-color: #f44336;
}

.link {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.article-link {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.commentslist {
  background-color: beige;
  overflow: scroll;
}
.articlepage {
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 5px;
  overflow: scroll;
}

.loginlink {
  background-color: #f44336;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
input[type='text'] {
  border: 2px solid red;
  border-radius: 4px;
  display: inline-block;
  padding: 8px 20px;
  margin: 5px 0;
  background-color: lightgray;
  color: black;
}
div.registerform {
  position: relative;
  text-align: right;
}
div.registerform > label {
  width: 30%;
  position: absolute;
  left: 10%;
  text-align: right;
  margin-right: 30px;
}

div.registerform > label {
  width: 30%;
  text-align: right;
}
div .label + input {
  width: 30%;
  margin: 0 30% 0 4%;
}
.registerform {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
div.loginform {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
div.addcommentform {
  display: block;
  text-align: center;
}
.addcommentform {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media (max-width: 800px) {
  .registerform > input {
    margin: 10px 0;
  }
  .registerform {
    flex-direction: column;
    align-items: stretch;
  }
}
.articlebody {
  height: 60px;
  line-height: 20px;
}

.greeting {
  text-align: center;
}
ul {
  list-style-type: none;
}
textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
}
.readmore {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  border-bottom: 1px solid #444;
  cursor: pointer;
  font-size: x-small;
}

button {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
button:hover {
  color: #333333;
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  background-color: #a0dbc4;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a8cfce),
    to(#beeae9)
  );
  background: -moz-linear-gradient(top, #a8cfce, #beeae9);
  background: -o-linear-gradient(top, #a8cfce, #beeae9);
  background: -ms-linear-gradient(top, #a8cfce, #beeae9);
}
.topic_link {
  text-decoration: none;
}
.error {
  font-size: 15px;
  color: red;
}
.article {
  border: 1px solid black;
  margin: 5px;
}
.comment_card {
  margin: 40px;
  padding: 5px;
  border: 2px solid gray;
  overflow: scroll;
}
.articleinfo {
  font-size: smaller;
  color: lightslategray;
  text-align: center;
}

div.commentbody {
  margin: 5px;
  padding: 5px;
  border: 1px dotted gray;
  background-color: whitesmoke;
  width: 50%;
  display: inline-block;
}
div.commentbody > .comment_card {
  border: none;
}
